@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #afd5ae;
    --secundary-color: #E9EDC9;
    --terciary-color: #cfcec4;
    --text-color: #35322b;
    --hover-color: #f2bb85;
}

body {
    background-color: var(--secundary-color);
    font-family: 'Delius';
    color: var(--text-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 2.3rem;
}

.nosotros {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: .5rem;
    border-radius: 5px;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: -3px -3px 3px 3px #222;
    background-color: white;

    .empresa {
        padding: 1rem;
        margin-bottom: 1rem;
        text-align: center;

        h2 {
            font-size: 1rem;
            box-shadow: -5px -5px 5px 5px #222;
            background-color: var(--hover-color);
            margin: 2rem;
            padding: 1rem;
            letter-spacing: 2px;
            display: inline-block;
            border-radius: 5px;
            text-shadow: 1px 1px 1px rgb(78, 74, 74);
            -webkit-text-stroke: 1px;
        }

        p {
            font-size: 1rem;
            line-height: 1.8;
            margin-bottom: 2rem;
            text-align: center;
        }

        .imgs {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;

            img {
                max-width: 40%;
                height: auto;
                border-radius: 20px;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }

    .staff {
        padding: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-size: 1rem;
            margin-top: 1rem;
            box-shadow: -5px -5px 5px 5px #222;
            background-color: var(--hover-color);
            text-align: center;
            margin: 2rem;
            padding: 1rem;
            letter-spacing: 2px;
            display: inline-block;
            border-radius: 5px;
            text-shadow: 1px 1px 1px rgb(78, 74, 74);
            -webkit-text-stroke: 1px;
        }

        p {
            font-size: 1rem;
            line-height: 1.8;
            margin-bottom: 2rem;
            text-align: center;
        }

        h3 {
            font-size: 1.2rem;
            margin-bottom: 2rem;
            margin-top: 3rem;
            text-align: center;
            font-weight: 900;
            letter-spacing: 3px;
            -webkit-text-stroke: 1px;
            border: solid 3px black;
            box-shadow: 1px 1px 0px 0px black;
            border-radius: 10px;
            padding: 10px;
        }

        .guadalupe {
            background-color: var(--terciary-color);
            border-radius: 10px;
            box-shadow: -3px -3px 3px 3px #605d5d;
            width: 300px;
            overflow: hidden;
            margin: 1rem;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .card-content {
                padding: 1rem;
                margin: 0.5rem;

                .card-title {
                    font-size: 1rem;
                    margin-bottom: .8rem;
                    margin-top: .5rem;
                }

                .card-description {
                    font-size: .9rem;
                    line-height: 1.7;
                    color: var(--text-color);
                    margin-top: .8rem;
                    margin-bottom: .5rem;
                }

                .icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 1rem;
                    font-size: 1.5rem;

                    .icon {
                        color: black;
                        padding: .5rem;

                        &:hover {
                            color: rgb(77, 77, 133);
                            transition: color .4s ease-in-out
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .nosotros {
        max-width: 90%;
        padding: 0.5rem;
        margin: 4rem auto;

        h2 {
            font-size: 1.2rem;
        }

        .staff {
            h3 {
                font-size: 1.1rem;
                padding: 0.5rem;
            }

            .guadalupe {
                width: 90%;
                margin: 1rem auto;

                .card-content {
                    .card-title {
                        margin: 0;
                        padding: 10px;
                    }
                }

                img {
                    width: 60%;
                }
            }
        }

        .empresa {
            img {
                max-width: 90%;
                align-items: center;
            }
        }
    }
}
