@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #afd5ae;
    --secundary-color: #E9EDC9;
    --terciary-color: #cfcec4;
    --text-color: #35322b;
    --hover-color: #f2bb85;
}

body {
    background-color: var(--secundary-color);
    font-family: 'Delius';
    color: var(--text-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 2.3rem;
}

.order-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-table {
    min-width: 350px;
    width: 100%;
    background-color: var(--terciary-color);
    color: var(--text-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    padding: .5rem;
    font-size: 16px;
    text-align: center;
    border-collapse: collapse;
}

.order-table td,
.order-table th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #0d0c0c;
}

.order-table th {
    background-color: var(--hover-color);
    font-weight: bold;
    width: 100%;
}

.order-table tbody tr:nth-child(odd) {
    background-color: #f9f9f930;
}

.order-table tfoot td {
    font-weight: bold;
    text-align: right;
    font-size: 1rem;
}

.order-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;

    .button, .button2 {
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: var(--secundary-color);
        color: var(--text-color);
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 5px;
        border: solid 2px black;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        margin-top: 1rem;
        font-family: "Delius";
    }
}

.button:hover {
    background-color: var(--hover-color);
}

.button2:hover {
    background-color: red;
    color: white;
}

.order-product-image {
    width: 75%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-controls button {
    background-color: var(--terciary-color);
    border: solid 1px black;
    border-radius: 5px;
    padding: 4px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: .75rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--hover-color);
    }
}

.quantity-controls .delete {
    background-color: var(--terciary-color);
    color: black;
    border-radius: 5px;
    padding: 4px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: .75rem;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: red;
        color: white;
    }
}

@media (max-width: 600px) {
    .order-table {
        font-size: 10px;
        padding: 5px;
    }

    .order-table td,
    .order-table th {
        padding: 8px;
    }

    .order-table tfoot td {
        font-weight: bold;
        text-align: right;
        font-size: .7rem;
    }

    .order-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .order-buttons .button {
        margin-top: 0;
    }

    .quantity-controls {
        flex-direction: column;
        gap: 5px;
    }

    .order-product-image {
        width: 50%;
    }
}