.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    .titulo {
        margin: 2rem;
        padding: 1rem;
        font-size: 1.5rem;
        box-shadow: 5px 5px 5px 5px;
        background-color: var(--primary-color);
        display: inline-block;
        border-radius: 5px;
        text-shadow: 1px 1px 1px rgb(78, 74, 74);
        -webkit-text-stroke: 1px;
    }
}