@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #afd5ae;
    --secundary-color: #E9EDC9;
    --terciary-color: #cfcec4;
    --text-color: #35322b;
    --hover-color: #f2bb85;
}

body {
    font-family: "Delius";
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;

    .card {
        flex-basis: 300px;
        background-color: white;
    }
}

.card {
    width: 600px;
    height: 650px;
    color: var(--text-color);
    font-size: 1rem;
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &:hover {
        .card-content {
            .card-add {
                transform: translateY(0);
                opacity: 2;
                visibility: visible;
                font-family: "Delius";
            }
        }
    }

    .card-content {
        display: flex;
        position: relative;
        overflow: hidden;
        text-align: center;

        .card-image {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        .card-status {
            position: absolute;
            background-color: var(--terciary-color);
            padding: 0.15rem 0.3rem;
            border-radius: 0.15rem;
            color: var(--light-color);
            top: 0.6rem;
            right: 0.6rem;
            font-size: 0.6rem;
        }

        .card-add {
            padding: 0.5rem 1rem;
            display: inline-block;
            text-align: center;
            font-family: "Delius";
            font-weight: 600;
            background-color: var(--primary-color);
            color: var(--light-color);
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 0.3rem;
            position: absolute;
            bottom: 0.6rem;
            left: 0.6rem;
            right: 0.6rem;
            transition: .9s;
            transform: translateY(80px);
            opacity: 0;
            visibility: hidden;
            transition: background-color .5s ease-in-out, transform .30s;
            box-shadow: 2px 2px 2px 2px rgb(95, 93, 93);

            &:hover {
                background-color: var(--hover-color);
            }
        }
    }

    .card-info {
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;

        .card-title {
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
            line-height: 1.15rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        .p {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 1.25rem;
        }
    }

    .price-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto; 

        .card-price {
            font-size: 1.5em;
            text-align: center;
            font-weight: 1000;
            margin-top: .5rem;
            margin-bottom: 1.25rem;
        }

        .btn {
            text-align: center;
        
            .btn2 {
                display: inline-block;
                padding: 0.6rem;
                background-color: var(--terciary-color);
                color: var(--dark-color);
                text-align: center;
                text-decoration: none;
                border-radius: 0.3rem;
                border: solid 1px black;
                cursor: pointer;
                font-size: 0.75rem;
                transition: background-color 0.3s ease-in-out;
                font-weight: bold;
                box-shadow: 2px 2px 2px 2px rgb(95, 93, 93);
                margin-bottom: .5rem;
        
                &:hover {
                    background-color: var(--hover-color);
                    color: var(--dark-color);
                }
            }
        }
    }
}